<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h2>Sobre Nosotros</h2>
      <p>Información sobre tu empresa o sitio web.</p>
      <ul class="socials">
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-section links">
      <h2>Enlaces Útiles</h2>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-section contact-form">
      <h2>Contacto</h2>
      <form action="#">
        <input
          type="email"
          name="email"
          class="text-input contact-input"
          placeholder="Tu correo electrónico" />
        <textarea
          rows="4"
          name="message"
          class="text-input contact-input"
          placeholder="Tu mensaje"></textarea>
        <button type="submit" class="btn btn-big contact-btn">
          <i class="fas fa-envelope"></i>
          Enviar
        </button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Nombre de Tu Empresa. Todos los derechos reservados.
  </div>
</footer>
